@font-face {
    font-family: preeti;
    src: url(../fonts/Preeti.ttf);
}
.sidebar .user .photo{border-radius:4px;box-shadow:none;width:50%;height:auto;margin:5px auto;}
.radios{margin-top:30px;color:#999}
.gap{margin-top:35px;}
.flashdata{margin-top:75px;}
.radios{margin-top:33px;}
.card h4{margin-top:30px;}
.nomar{margin-top:0;}
.nomar .btn-group{margin-top:0;}
.relations .btn-group{margin-top:22px;}
.dark_grey{font-weight: bold;color:#000;}
.light-bg{background: #fff;}
.dark-bg{background: #e5e5e5;}
.dotted{display: inline-block;padding: 0 5px;border-bottom: 1px #000 dotted;}
.forced{min-width:100%;text-align: center;}
.compressed{font-size:13px;min-width: 235px;}

.select-with-transition{font-family: preeti;font-size: 16px;text-transform: none!important;}
.tab-pane.active{background:#f5f5f5;padding:20px 10px;border:2px solid #ccc;border-radius:5px 5px 0 0;}
.guaranteers-list .select-with-transition, .property-list .select-with-transition, .pending-list .select-with-transition,.loan_types .select-with-transition {
    font-family: Arial;
    color: #AAA !important;
    padding: 5px;
    font-size: 14px;
}
.whitebg{background:#FFF;padding:10px;margin-bottom:10px;}
.login-error{color:#B90F0F;text-align:center;padding:10px 0;}
.img-holder{background:#f5f5f5;border:2px solid #DDD;border-radius:5px;width: 250px; height: 250px;}
.img-holder-slider{background:#f5f5f5;border:2px solid #DDD;border-radius:5px; height: 378px;overflow: hidden;}
.img-holder-celeb{background:#f5f5f5;border:2px solid #DDD;border-radius:5px;width:512px; height: 345px;overflow: hidden;}
.inactive{background:#E28023;display:inline-block;font-size:13px;padding:0 3px;color:#FFF;border-radius:3px;}
.word-break{white-space: -moz-pre-wrap; /* Mozilla */
white-space: -hp-pre-wrap; /* HP printers */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
word-wrap: break-word; /* IE */
word-break: break-all;}
.category-list{list-style:none;margin:0;}
.cat_listing{padding:15px;margin-bottom:10px;border-radius: 5px;cursor: move;}
.page-listing{list-style:none;padding-left:15px;}
.page-listing li{background:#FFF;padding:10px;border-radius:5px;margin-bottom:5px;}
.cat-title{font-weight:bold;font-size:17px;}
#saveOrder{margin-left:40px;}
.success_order{display:none;font-weight:bold;color:#777;padding-left:20px;}
.syntax{padding:0;margin:0;list-style:none;}
.syntax li{display:inline-block;padding: 5px 15px; background:#777;color:#FFF;margin-right:10px;border-radius:4px;cursor:move;}
.note{color:#D26464;font-weight:bold;}
.syntax li a{color:#FFF;font-weight:bold;}
.img-placeholder{height:130px;overflow: hidden;margin-bottom: 15px;}
.greybg{background: #f5f5f5;padding: 5px 0;font-size: 12px}
.whitebg{background: #FFF;}
.sidebar .user{
    width: 62%;
}
a.col-lg-3{display: block;}
.modal-lg{width:1200px;}