body{font-size:15px;margin: 0;}
h1{}
h2{}
.navbar{min-height: 100px;border-bottom: 4px solid #34aecc;}
.navbar-brand{padding: 0;padding-right: 35px;}
.navbar-brand img{max-height: 95px;padding: 10px 0;}
.sidebar .user .photo{border-radius:4px;box-shadow:none;width:50%;height:auto;margin:5px auto;}
.navbar li a {
    font-size: 17px;
    height: 98px;
    padding: 35px 10px 0 10px;
}
.navbar a{border-top:6px solid #f8f8f8;margin:0 15px;}
.navbar .active a,.navbar a:hover{
    border-top:6px solid #34aecc;
}
#myCarousel{border:3px solid #f5f5f5;}
.carousel-inner img{width: 100%!important;}
.main-content{background: #FFF;padding: 15px;margin-top:15px;}
.navbar{margin-bottom: 0;}