@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*--------------------LATER----------------*/
.news-page-list{
	position: relative;
    width: 370px;
    height: 150px;
    background-color: #CCC;
    margin: 10px 0;
    overflow: hidden;
}
 .news-page-list a img{
	 width: 370px;
	 height:auto;
 }

.form-control{
	border:1px solid white;
	background-color:#f5f5f5;
}
input[type="text"], input[type="text"]:focus{
            outline: 0;
            box-shadow:none;

}
input[type="text"]:hover, input[type="text"]:focus{
		border-color:#f49835;
}
.form-control:focus, .form-control:hover{
	outline:none;
	box-shadow:none;
	border-color:1px solid #f49835;
	
}
.form-control:focus{
	background-color:white;
}
.news-main-list p{
	font-family:montserratregular;
}
.quicklink-main{
	margin-top:20px;
}
.facebook{
	padding-top:20px;
	height:250px;
	overflow:hidden;
}
.description-logo-wrapper{
	vertical-align:middle;
	padding-right:50px;
}
.description-logo{
	height:auto;
	width:200px;
	overflow:hidden;
}
.description-logo img{
	height:auto;
	width:180px;
	margin-right:20px;
	margin-left:20px;
}
.btn-primary{
	background-color:#f49835;
	border:none;
}
.btn-primary:hover{
	background-color:#cf791c;
	border-radius:5px;
}
i.fa{
	color:#f49835;
}
i.sn{
	margin-top:20px;
	background-color:#f49835;
	color:white;
	padding:6px;
	border-radius:50%;
}
.sn:hover{
	background-color:#06C;
}
.fa-mobile, .fa-envelope-o, .fa-location-arrow{
	margin-right:30px;
	padding-bottom:10px;
}
.map{
	margin-top:30px;
}
.send-btn{
	margin-top:10px;
	margin-bottom:10px;
}
.send-btn button{
	float:right;
	padding-left:40px;
	padding-right:40px;
}
/*------------------------------*/



*{
	margin:0;
	padding:0;
}
body{
	font-family:montserratlight;
	font-size:18px;
	line-height:1.5;
}

.section_wrapper
{
	margin-top: 100px;
}
span.h3-border{
	height:1px;
	width:900px;
	right:20px;
	top:32px;
	background-color:black;
	position:absolute;
	
}
span.h3-news-border{
	height:1px;
	width:730px;
	right:20px;
	top:32px;
	background-color:black;
	position:absolute;
}

ul li.active a{
	color:#3d69bf;
}
/*---------------ALL------------------*/

.mobile-menu{
	display:none;
}

span.date{
	font-size:11px;
	color:#CCC;
}
section{
	margin-top:20px;
	padding-top:10px;
	padding-bottom:10px;
}

h3, .h3{
	font-family:montserratlight;

}
.full-news-description p{
	line-height:2;
}
h3, .h3{
	margin-bottom:20px;
	border-left:5px solid #2a4c8e;
	padding-left:10px;
	padding-bottom:5px;
}
.btn-style{
	margin-top:30px;
	font-family:montserratregular;
}
a{
	color:black;
	cursor:pointer;
}
a:hover, .quicklink-list a:hover{
	text-decoration:none;
	color:#f49835;
}
.quicklink-list a:hover{
	font-weight:bold;
}
.btn-wrapper{	
	text-align:center;	
}
.btn-wrapper a{
	font-size:15px;
	color:#3d69bf;
	display:inline-block;
	position: relative;
	padding-bottom:6px;
}
.btn-wrapper a:hover{
	color:black;
}
.btn-wrapper a:after {
  position: absolute;
  content: '';
  bottom: 0;
  width: 0px;
  left: 50%;
  height: 3px;
  background-color:#f49835 ;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.btn-wrapper a:hover:after{
  
  width: 100%;
  left: 0;
}
.news-main{
	margin-right:5px;
	margin-left:5px;
}
/*----------------HEADER-------------- */

header{
	border-bottom:#f7f7f7 1px solid;
	background-color:white;
	/*box-shadow: 3px 3px 10px rgba(0, 0, -0, 0.1);*/
}
header .container{
	background-color:white;
}
.Epl-logo-main{
	overflow:hidden;
	background-color:white;
	height:80px;
	width:180px;
	margin-top:10px;
	padding:0px 0;
}
.Epl-logo-main>a>img{
	height:80px;
}
.navbar-nav > li > a{
	text-transform:uppercase;
	font-family:montserratregular;
	background-color:white;
	color:black;
	padding-top:40px;
	padding-bottom:40px;
	color:#757575;
}
.head-nav-main ul li a{
	font-size:14px;
}
.head-nav-main ul li {
  display: inline;
  color: #4F0577;
  padding-left: 8px;
  padding-right:8px;
  position: relative;
  cursor: pointer;
}
.head-nav-main ul li a:hover{
	background-color:white;
	color:black;
}
.head-nav-main ul li:after {
  position: absolute;
  content: '';
  bottom: 0;
  width: 0px;
  left: 50%;
  height: 3px;
  background-color:#f49835;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.head-nav-main ul li:hover:after {
  width: 100%;
  left: 0;
}
/*.border{
	border-bottom:1px solid #999;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:20px;
}*/
.navbar-toggle{
	background-color:#f6f6f6;
	border-radius:50px;
	transition:0.5s;
}
.navbar-toggle:hover{
	border-radius:5px;
}
/*----------------------NAV2--------------------*/
.bg-cover {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color:#22244a;
	z-index: 0;
	transition: all 350ms ease;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.prompt {
	position: fixed;
	width: 100%;
	text-align: center;
	line-height: 114px;
	font-family: Georgia;
	color: #666;
}

.reveal {
	opacity: 0.75;
	display: block;
	pointer-events: auto;
	visibility: visible;
}

.hamburger-shell {
	margin: 0;
	position: fixed;
	overflow: hidden;
	width: 40px;
	height: 50px;
	overflow: auto;
	left: calc(100% - 70px);
	top: 23px;
}

.top, .middle, .bottom{
	border-radius:15px;
	position: absolute;
	width: 32px;
	height: 4px;
	background-color: #3d69bf;
	transition: all 350ms ease-in-out;
	top: 10px;
}
.bottom{
	top: 30px;
}
.middle {
	top: 20px;
}

#menu {
	position: fixed;
	left: calc(100% - 292px);
	top: 10px;
	color: black;
	display: none;
	margin: 120px 30px;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
	text-transform: uppercase;
	color: #333;
	padding: 24px;
	width: 200px;
	text-align: right;
}

#menu a li {
	text-decoration: none!important;
	padding-bottom: 10px;
	margin-bottom: 12px;
	list-style: none;
	color:white;
	transition: all 150ms ease;
}

#menu a li:hover {
	color: #fec665;
	padding-right: 3px;
}


#menu a {
	text-decoration: none;
}

.rotate {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	top: 30px;
	background-color: red;
	height: 2px;
}

.rotate-back {
	transform: rotate(-225deg);
	-webkit-transform: rotate(-225deg);
	top: 30px;
	background-color: red;
	height: 2px;
}

.top {
-webkit-animation-delay: 100ms;
}

.middle {
-webkit-animation-delay: 250ms;
}

.bottom {
	-webkit-animation-delay: 400ms;
}

.menu-name {
	font-family: Verdana;
	font-weight: 900;
	color: black;
	font-size: 19.5px;
	text-decoration: none;
	position: absolute;
	top: 56px;
	left: -1px;
	transition: all 350ms;
}

.bump {
	top: 64px;
	color: red;
}


/*---------------BANNER-------------- */
.banner-body{
	margin-top:100px;
	/*background-color:black;*/
	padding:0px;
}
.banner-main{
	padding:0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background-color: #444;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider {
  position: relative;
  width: 9999px;
}
.slider:before,
.slider:after {
  display: table;
  content: ' ';
}
.slider:after {
  clear: both;
}
.slider__item {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  height:365px;
  width:1068px;
}
.slider__item img {
  display: block;
  max-width: 100%;
  height:auto;
  width:1170px;
  margin:auto;
}
.slider__switch span {
  color: #fff;
  display: block;
  width: 32px;
  height: 32px;
}
/* Arrows */
.slider__switch {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  padding: 10px 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  border-radius: 1px;
  opacity: .3;
  transition: opacity .15s ease;
  fill: #fff;
}
.slider__switch--prev {
  left: 10px;
}
.slider__switch--next {
  right: 10px;
}

.slider__switch:hover {
  opacity: .85;
}
.slider__switch[disabled] {
  visibility: hidden;
  opacity: 0;
}
.slider__caption {
  z-index:900;
  font-family:montserratregular;
  position:absolute;
  bottom: 0px;
  width:100%;
  background-color:rgba(0,0,0,0.3);
  text-align:center;
  display: block;
  padding-top:10px;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:30px;
  color: #fff;
  /*background: rgba(0, 0, 0, .8);
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.9);*/
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000'); /* ie8 */
}
.slider__caption[disabled] {
  opacity: 0;
  visibility: hidden;
}
.slider-nav {
  line-height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /*height: 100px;*/
  margin: 0;
  padding: 0;
  text-align: center;
  filter: alpha(opacity=90); /* ie8 */
  /*background:rgba(0,0,0,0.3);*/
}
.slider-nav__control {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 3px;
  -webkit-transition: background .5s ease;
     -moz-transition: background .5s ease;
       -o-transition: background .5s ease;
          transition: background .5s ease;
  border-radius: 50%;
  background:#363636;
}

.slider-nav__control.is-active {
  width: 12px;
  height: 12px;
  background: #3d69bf;
  border: 1px solid #3d69bf;
}
.slider.has-touch {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor:    -moz-grabbing;
}

/*---------------COMPANY PROFILE-------------- */
.company-profile-info{
	font-family:montserratlight;
}
/*---------------NEWS-------------- */

.news-main-list{
	margin-bottom:10px;
	overflow:hidden;
	transform:translateY(10)

}
.news-main-list:hover{
	background-color:#f6f6f6;
	cursor:pointer;

}
.news-main-list:hover a{
	color:#f49835;
}
.news-main-list-img{
	position:relative;
	width:250px;
	height:150px;
	background-color:#CCC;
	margin:10px 0;
	overflow:hidden;
}
.news-main-list-img img{
	position:absolute;
	width:auto;
	height:150px;
}


p.news-main-list-para{
	font-size:15px;
	font-family:montserratlight;
	color:#656565;
}
/*---------------ASIDE-------------- */
.quicklink-main{
	background-color:#f6f6f6;
	padding:5px 10px;
	margin-bottom:20px;
}
.quicklink-main p{
	line-height:1.2;
	padding-top:4px;
	padding-bottom:4px;
}
p.quicklink-list a{
	font-family:montserratlight;
	font-size:15px;
	color:#656565;
}


/*----------------------FOOTER---------------*/
.footer{
	border-top:1px solid #999;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:20px;
	font-size:13px;
}
/*----------------------FULL NEWS PAGE--------------*/
.full-news-img{
	width:100%;
	overflow:hidden;
	height:auto;
	margin-bottom:20px;
}
.full-news-date{
	font-size:14px;
	color:grey;
}
.full-news-description{
	margin-top:20px;
}
.full-news-description p{
	margin-top:30px;
}
/*----------------------MEDIA ---------------*/
@media only screen and (max-width: 1024px){
	.container{
		width:100%;
	}
	.news-body {
    padding-right:0px;
}

	.description-logo{
		display:block;
		margin:auto;
	}
	span.h3-border{
		background-color:white;
	}

/*	.news-main-list{
		    height: 400px;
	}*/
	.news-main-list-img {
    height: 200px;
	width:100%;
    background-color: #CCC;
    margin: 10px 0;
    overflow: hidden;
}

.news-main-list-img img {
    width: 100%;
    height: auto;
}
.news-full-main-list{
}
	span.h3-border{
	height:1px;
	width:65%;
	right:5%;
	top:8%;
	background-color:black;
	position:absolute;
	
}
span.h3-news-border{
	height:1px;
	width:80%;
	right:5%;
	top:1.5%;
	background-color:black;
	position:absolute;
}
	.mobile-menu{
	display:none;
}

	
.banner-body{
	margin-top:60px;
}
span.date{
	float:left;
}
.quicklink-main{
	width:100%;
}
.facebook{
	width:100%;
}
.news-main-list{
	    border-bottom: 1px solid #dfdfdf;
		padding-top:10px;
		padding-bottom:10px;
}
.btn-style{
	margin-top:20px;
}
span.date{
	width:100%;
	margin-bottom:5px;
}
.slider__item {
  height:200px;
  width:600px;
}
.slider__item img {
  display: block;
  max-width: 100%;
  height:200px;
  width:auto;
  margin:auto;
}
span.h3-border {
	margin-right:4%:
	width:90%;
    height: 1px;
    top: 32px;
    background-color: black;
    position: absolute;
}
}

@media only screen and (max-width: 768px){	
	.container{
		width:100%;
	}
	.description-logo-wrapper{
		display:block;
	}
	.news-body{
		padding-right:0px;
	}
	.news-main-list{
		height:auto;
	}
	
span.h3-news-border{
	height:1px;
	width:65%;
	right:5%;
	top:0.8%;
	background-color:black;
	position:absolute;
}
.mobile-menu{
	display:block;
}
.Epl-logo-main{
	height:50px;
    width: 100%;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
	overflow:hidden;
}
.Epl-logo-main a img{
	height:50px;
    width: 85px;
}
.fullscreen-nav{
	display:none;
}
span.date{
	float:right;
}
.navbar-nav > li > a{
	padding-top:1%;
	padding-bottom:1%;
}
.navbar-toggle{
	margin-top:6%;
	margin-right:6%;
}
.news-main-list-img{
	width:100%;
}

  .slider__switch {
    display: none;
  }
  .slider__caption {
    display: none;
  }
  span.h3-border {
	margin-right:4%:
	width:90%;
    height: 1px;
    top: 32px;
    background-color: black;
    position: absolute;
}
}